/* Stil für den Container, der die Steuerelemente enthält */
.controls-container {
    display: flex;
    flex-direction: column; /* Vertikale Anordnung der Elemente */
    align-items: flex-start; /* Linksbündige Ausrichtung der Elemente */
    justify-content: flex-start;
    gap: 5px; /* Abstand zwischen den Elementen */
    width: 100%; /* Nutzt die volle Breite des übergeordneten Elements */
}


/* Stil für den Wrapper des Dropdown-Menüs */
.custom-dropdown-wrapper {
    position: relative;
}

/* Stil für das Dropdown-Menü selbst */
.custom-dropdown-nav {
    width: 180px;
    background: #d9d9d9;
    border-radius: 6px;
    margin-top: 10px;
}

/* Stil für den Toggle-Button des Dropdown-Menüs */
.custom-dropdown-toggle {
    padding: 18px;
    background: #4B8E94;
    color: #D6EBEA;
    font-size: 0.72em;
    cursor: pointer;
    display: block;
    border-radius: 6px 6px 0 0;
}

.custom-dropdown-slide {
    max-height: 175px; /* 1/6 länger als 150px */
    overflow-y: auto; /* Scrollbar aktivieren, wenn nötig */
    list-style: none;
    padding: 0;
    border-radius: 0 0 6px 6px;
}

/* Stil für die Listenelemente im Dropdown-Menü mit Hover-Effekt */
.custom-dropdown-slide li {
    padding: 18px;
    border-top: 1px solid #4B8E94;
    background-color: #D6EBEA;
    color: #4B8E94;
    transition: background-color 0.2s, color 0.2s; /* Weiche Übergänge */
}

.custom-dropdown-slide li:hover {
    background-color: #4B8E94; /* Hintergrundfarbe beim Hover */
    color: #D6EBEA; /* Textfarbe beim Hover */
    cursor: pointer; /* Cursor-Stil */
}

/* Stil für Links in der Liste */
.custom-dropdown-slide li a {
    text-decoration: none;
    color: inherit; /* Vererbt die Farbe vom Elternelement */
    font-size: 0.9em;
}

/* Optional: Stil für die Scrollbar */
.custom-dropdown-slide::-webkit-scrollbar {
    width: 10px;
}
.custom-dropdown-slide::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.custom-dropdown-slide::-webkit-scrollbar-thumb {
    background: #888;
}
.custom-dropdown-slide::-webkit-scrollbar-thumb:hover {
    background: #555;
}
