/* Stil für den Container, der die Steuerelemente enthält */
.controls-container {
    display: flex;
    flex-direction: column; /* Vertikale Anordnung der Elemente */
    align-items: center;
    justify-content: left;
    gap: 5px; /* Abstand zwischen den Elementen */
}

/* Stil für den Wrapper des Toggle-Switch */
.toggle-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Stil für den Container des Toggle-Switch */
.toggle-switch-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    border: 3px solid #4B8E94;
    border-radius: 20px;
    background: #4B8E94;
    font-weight: bold;
    color: #D6EBEA;
    cursor: pointer;
}

/* Stil für die Schiebefläche des Toggle-Switch */
.toggle-switch-container::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    border-radius: 20px;
    background: #FFB3B8;
    transition: all 0.3s;
}

/* Anpassung der Position der Schiebefläche bei aktiviertem Switch */
.toggle-switch-checkbox:checked + .toggle-switch-container::before {
    left: 50%;
}

/* Stil für die Textelemente im Toggle-Switch */
.toggle-switch-container div {
    padding: 6px;
    text-align: center;
    z-index: 1;
}

/* Ausblenden des tatsächlichen Checkbox-Elements */
.toggle-switch-checkbox {
    display: none;
}

/* Farbänderungen bei aktiviertem und deaktiviertem Switch */
.toggle-switch-checkbox:checked + .toggle-switch-container div:first-child,
.toggle-switch-checkbox:checked + .toggle-switch-container div:last-child,
.toggle-switch-checkbox + .toggle-switch-container div:first-child,
.toggle-switch-checkbox + .toggle-switch-container div:last-child {
    transition: color 0.3s;
}

/* Stil für den Wrapper des Dropdown-Menüs */
.custom-dropdown-wrapper {
    position: relative;
}

/* Stil für das Dropdown-Menü selbst */
.custom-dropdown-nav {
    width: 180px;
    background: #d9d9d9;
    border-radius: 6px;
    margin-top: 10px;
}

/* Stil für den Toggle-Button des Dropdown-Menüs */
.custom-dropdown-toggle {
    padding: 18px;
    background: #4B8E94;
    color: #D6EBEA;
    font-size: 0.72em;
    cursor: pointer;
    display: block;
    border-radius: 6px 6px 0 0;
}

.custom-dropdown-slide {
    max-height: 175px; /* 1/6 länger als 150px */
    overflow-y: auto; /* Scrollbar aktivieren, wenn nötig */
    list-style: none;
    padding: 0;
    border-radius: 0 0 6px 6px;
}

/* Stil für die Listenelemente im Dropdown-Menü mit Hover-Effekt */
.custom-dropdown-slide li {
    padding: 18px;
    border-top: 1px solid #4B8E94;
    background-color: #D6EBEA;
    color: #4B8E94;
    transition: background-color 0.2s, color 0.2s; /* Weiche Übergänge */
}

.custom-dropdown-slide li:hover {
    background-color: #4B8E94; /* Hintergrundfarbe beim Hover */
    color: #D6EBEA; /* Textfarbe beim Hover */
    cursor: pointer; /* Cursor-Stil */
}

/* Stil für Links in der Liste */
.custom-dropdown-slide li a {
    text-decoration: none;
    color: inherit; /* Vererbt die Farbe vom Elternelement */
    font-size: 0.9em;
}

/* Optional: Stil für die Scrollbar */
.custom-dropdown-slide::-webkit-scrollbar {
    width: 10px;
}
.custom-dropdown-slide::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.custom-dropdown-slide::-webkit-scrollbar-thumb {
    background: #888;
}
.custom-dropdown-slide::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.disabled-option {
    color: #32706f; /* Graue Farbe */
    pointer-events: none; /* Deaktiviere Mausklicks */
    cursor: default; /* Standard-Cursor anzeigen */
}

