/* heroSection.module.css */
.heroSectionbackground {
  width: 1110px;
  height: 300px;
  background-color: #D6EBEA;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.container {
  display: flex;
  align-items: flex-start; /* Änderung von "center" zu "flex-start" für vertikale Ausrichtung */
  flex-wrap: wrap; /* Hinzufügen von flex-wrap, um Elemente in eine neue Zeile umzubrechen */
}

.content {
  text-align: left;
  line-height: 1.2;
  margin: 0 20px;
}

/* Neue Klasse, um den Textstil zu ändern */
.custom-h2 {
  margin: 0;
}
