.card-img-centered {
  max-width: 100%;
  height: auto;
  display: flex;
}

@media (max-width: 768px) {
  .card-img-centered {
    /* Reduziere den linken Abstand auf 5% bei Bildschirmen kleiner als 768px */
    margin-left: 0%;
  }
}
