.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto; /* Adjust the height based on the content and surrounding elements */
}

.chart-abstand {
  margin: auto
}

/* ... Ihre anderen Stile ... */

.custom-dropdown-toggle {
  background-color: #0eafaa; /* Grüne Hintergrundfarbe */
  color: white; /* Weiße Textfarbe */
  border: none; /* Kein Rand */
}

.custom-dropdown-toggle:hover {
  background-color: #0eafaa; /* Dunklerer Grünton beim Hover */
}







