

.top-performing-container {
  background-color: #D6EBEA;
  opacity: 0.7;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

}



.heading {
  text-align: left;
  margin-bottom: 10px;
}

.image {
  width: 20%;
  margin-bottom: 10px;
}

.text {
  width: 100%;
  margin-bottom: 10px;
}
