.navigation-container {
  width: 200px; /* Gewünschte Breite */
  height: 100vh; /* Vollständige Höhe des Viewports */
  background-color: #4B8E94; /* Dunkles Türkis als Hintergrundfarbe */
}

.logo {
  padding: 20px; /* Polsterung um das Logo */
  text-align: center; /* Zentrierung des Logos */
  /* Entferne Text-bezogene Stile und füge Bildspezifische hinzu */
}

.logo img {
  width: 100%; /* Setze die Logo-Breite auf 50% der Container-Breite */
  height: auto; /* Höhe wird automatisch angepasst */
  margin: 0 auto; /* Zentrierung des Bildes horizontal */
}

.navigation-menu {
  display: flex;
  flex-direction: column; /* Richtung der Navigationselemente */
}

.navigation-menu button {
  background: none;
  border: none;
  text-align: left;
  padding: 10px 20px;
  font-size: 16px;
  color: #FFF; /* Schriftfarbe auf Weiß geändert */
  cursor: pointer; /* Cursor als Zeiger beim Hover über den Buttons */
}

.navigation-menu button:hover {
  background-color: #FF8891; /* Helles Rot beim Hover */
}
