.carousel {
  min-height: 100vh;
  position: relative;
}

.main-post {
  position: relative;
}

.main-post__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .main-post__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

}

.main-post__content {
  position: absolute;
  top: 40%;
  left: 4%;
  transform: translateY(-40%);
  color: #fff;
  width: 90%;
}

/* Hier können Sie weitere Stile für Ihren Inhalt hinzufügen, z.B. Überschriften, Texte usw. */

