.containerCustom {
  margin-top: 100px;
}

.rowCustom {
  height: 600px;
  background-color: #D6EBEA;
  margin: 0;
  padding: 0;
}

.colCustom {
  background-color: #4B8E94;
}

.imgCustom {
  width: 100%;
  height: auto;
  padding: 0px;
}
