.persönlicheDaten-text {
  font-size: 24px;
  font-weight: bold;
}

.abstand-links {
  margin-left: 220px;
}

.abstand-oben {
    margin-top: 52px;
}

.abstand-dazwischen {
    margin-top: 9px
}

.abstand-dazwischen2 {
    margin-top: 15px
}

.abstand-zuZiele {
  margin-top: 115px
}

.white-inputZiele {
  width: calc(90% - 10px);
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  height: 120px;
  margin-left: 40px;
  resize: none;
}


.white-input-dropdown {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  height: 20px !important; /* Hier wird die Höhe auf 20px festgelegt */
  margin-left: 40px;
}



.white-input-dropdown {
  width: calc(90% - 10px);
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 0px 5px;
  height: 20px !important; /* Hier wird die Höhe auf 20px festgelegt */
  margin-left: 40px;
}


