.heroSection {
  background-color: #D6EBEA;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Optional: stellt sicher, dass der Container die volle Höhe des Viewports einnimmt */
}

.col-centered {
display: flex;   justify-content: center;   align-items: center;   height: 100%; /* Optional, falls Sie auch vertikal zentrieren möchten */
}

.background-color-heroSection {
  background-color: #D6EBEA;
  opacity: 0.7; /* Hier wird die Transparenz auf 70% (0.7) gesetzt */
  border-radius: 20px;
  padding: 20px;
}

.custom-line-height {
    line-height: 0.1;  /* Der Wert 1.5 ist ein Beispiel, Sie können ihn nach Bedarf anpassen */
}

.img-size-hero {
    max-width: 55%;
    height: auto;
}

