.heroSectionbackground {
  background-color: #D6EBEA;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Optional: stellt sicher, dass der Container die volle Höhe des Viewports einnimmt */
}

.col-centered {
display: flex;   justify-content: center;   align-items: center;   height: 100%; /* Optional, falls Sie auch vertikal zentrieren möchten */
}
