/* Navigation.css */
@media (max-width: 991px) {
  .navbar-nav.ml-auto {
    flex-direction: row !important;
  }
}

.navbar-logo {
  height: 90px;  /* Sie können die Höhe nach Bedarf anpassen */
}

/* Diese Regel verhindert, dass die Buttons umgebrochen werden */
.navbar-nav.ml-auto .nav-link + .nav-link {
  margin-left: 0.5rem;
}

.nav-link {
  margin-left: 1rem;  /* Abstand zwischen den Links */
  margin-right: 1rem; /* Abstand zwischen den Links */
}
