.img-size-googleandfacebook {
  max-width: 25%;
  height: auto;
  margin: 0 45px; /* Hier wird der Abstand für die Bilder festgelegt */
}

.img-size-googleandfacebook-container {
  display: flex;
  justify-content: space-between;
}

.img-size-or {
  max-width: 80%;
  align-self: center;
  margin-top: 10px;
  display: flex;
}

.text-container {
  margin-top: 20px;
  text-align: center;
}

.text-style {
  color: black;
  font-size: 15px;
  margin-bottom: 0px;
  text-align: left;
  padding-left: 43px; /* Hier die Änderung für den Abstand nach rechts */
}


.w-input {
  width: calc(85% - 10px); /* Hier angepasst, um den Margin-Wert zu berücksichtigen */
  padding: 0px 5px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background-color: #fff;

}

.smaller-text {
  font-size: 11px; /* oder die gewünschte Schriftgröße */
}

.terms-of-use {
  color: #FFB3B8; /* Ändere die Farbe nach Bedarf */
}

.privacy-policy {
  color: #FFB3B8; /* Ändere die Farbe nach Bedarf */
}

.small-text {
  font-size: 11px; /* gewünschte Schriftgröße */
}
/* Flex Container für Checkbox und Button */
.checkbox-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 30px;
}

/* Stil für den Button */
.button-small {
  width: 30%; /* oder die gewünschte Breite */
  margin-left: 0px;
  /* Weitere Button-Stilisierungen */
}

/* Falls nötig, passen Sie die Checkbox-Stilisierung an */
.checkbox-label {
  width: 40%; /* oder die gewünschte Breite */
  /* Weitere Checkbox-Stilisierungen */
}
