.persönlicheDaten-text {
  font-size: 24px;
  font-weight: bold;
}

.abstand-links {
  margin-left: 220px;
}

.abstand-oben {
    margin-top: 52px;
}

.abstand-zuZiele {
  margin-top: 115px
}

.white-inputZiele {
  width: calc(100%);
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  height: 120px;
  resize: none;
}


.white-input-dropdown {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  height: 20px !important; /* Hier wird die Höhe auf 20px festgelegt */
}



.white-input-dropdown {
  width: calc(100%);
  background-color: #D6EBEA;
  border: none;
  border-radius: 10px;
  padding: 0px 5px;
  height: 20px !important; /* Hier wird die Höhe auf 20px festgelegt */
}


.white-inputeinstellungProfil {
  width: calc(100%);
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  height: 22px;
}

.img-accountmanagement {
  max-width: 70%;
  height: auto;
  margin-top: 10%;
}